/* CSS to be added to this file as the landing page begins to be developed */

body {
    display: flex;
    font-family: Roboto;
    margin: 0;
    min-width: 100%;
    flex: auto;
}

.master {
    display: flex;
    flex-direction: column;
}

.header, .footer {
    display: flex;
}

.header {
    height: 100px;
    width: auto;
    flex: auto;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    /* gap: 40px; */
    background-color: #1F2937;
    padding: 10px;
}

.lefthead {
    font-size: 24px;
    width: auto;
    flex-basis: 20%;
}

.righthead {
    display: flex;
    font-size: 18px;
    width: auto;
}

/* .top, .middle, .bottom {
    display: flex;
} */

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.innertop {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.topleft {
    height: 400px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    flex-wrap: wrap;
    margin: 0;
    /* background-color: #1F2937; */
    flex-basis: 25%;
}

.topright {
    height: 400px;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-basis: 35%;
}

.middle {
    height: 280px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.midup {
    display: flex;
    flex: auto;
    margin-bottom: 20px;
}


.midlow {
    display: flex;
    flex: auto;
    width: 70%;
    height: auto;
    align-content: center;
    justify-content: center;
}

.box {
    border-radius: 25px;
    border: 3px solid #1f376a;
    padding: 20px;
    height: auto;
    width: 30%;
    align-self: center;
}

.football, .basketball, .media, .community {
    display: flex;
    flex-direction: column;
}

.bottom {
    height: 280px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex: 1;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    align-content: center;
    justify-content: center;
    font-size: 14px;
    margin-top: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}

/* image settings */

.lefthead img {
    width: 60%;
    height: auto;
    min-width: 100px;
}

.topright img {
        width: 100%;
        height: auto;
        min-width: 0;
    }

.box img {
    align-self: center;
    height: auto;
    width: 100%;
    min-width: 0;
    align-self: center;
}

/* text decorations */

a {
    text-decoration: none;
}


ul {
    display: flex;
    padding-right: 25px;
    flex: auto;
}


nav li + li:before{
    content: " | ";
    color: #F9FAF8;
    padding: 0 1em;
    flex: auto;
    list-style: none;
}

li {
    list-style: none;
    flex: auto;
}

/* span elements formatting */

.white {
    color: #F9FAF8;
}

.offwhite {
    color: #E5E7EB;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    height: 200px;
    width: 80%;
    flex: auto;
    margin-bottom: -60px;
}

.titleinfo {
    color: #E5E7EB;
    font-size: 18px;
    height: 150px;
    width: 80%;
    flex: auto;
}

.quote {
    width: 45%;
    height: auto;
    font-size: 36px;
    color:#1F2937;
    align-self: center;
}

.sig {
    width: 20%;
    height: auto;
    font-size: 20px;
    font-weight: 900;
    color:#1F2937;
    margin: 10px;
    align-self: center;
    padding-left: 22%;
}

button {
    margin-top: -30px;
    height: 10px;
    width: 50%;
    flex: auto;
    margin-bottom: 30px;
    background-color: #1f376a;
    color: #E5E7EB;
    font-size: 16px;
}

.services {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: -40px;
}

.desc {
    margin-top: 5px;
    height: auto;
    width: 60%;
    align-self: center;
    text-align: center;
}