/* CSS to be added to this file as the landing page begins to be developed */

body {
    font-family: Roboto;
    margin: 0;
}

.master {
    display: flex;
    flex-direction: column;
}

.header, .footer {
    display: flex;
}

.header {
    height: 100px;
    width: auto;
    flex: auto;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    background-color: #1F2937;
    padding: 10px;
}

.lefthead {
    font-size: 24px;
}

.righthead {
    display: flex;
    font-size: 18px;
    gap: 25px;
}

/* .top, .middle, .bottom {
    display: flex;
} */

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.innertop {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.topleft {
    height: 400px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    flex-wrap: wrap;
    margin: 0;
    /* background-color: #1F2937; */
    flex-basis: 25%;
}

.topright {
    height: 400px;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-basis: 35%;
}

/* image settings */

.topright img {
        width: 100%;
        height: auto;
        min-width: 0;
    }

/* text decorations */

a {
    text-decoration: none;
}

/* span elements formatting */

.white {
    color: #F9FAF8;
}

.offwhite {
    color: #E5E7EB;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    height: 200px;
    width: 80%;
    flex: auto;
    margin-bottom: -60px;
}

.titleinfo {
    color: #E5E7EB;
    font-size: 18px;
    height: 150px;
    width: 80%;
    flex: auto;
}

button {
    margin-top: -30px;
    height: 10px;
    width: 50%;
    flex: auto;
    margin-bottom: 30px;
}